@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas:  "navbar navbar navbar"
                            "main  main    main"
                            "aside  aside  aside"
                            "footer footer footer";
    gap: 20px;
}

/* NAVBAR */
.navbar{
    grid-area: navbar;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    padding: 10px;
    list-style: none;
    margin: 10px;
    align-items: center;
}
.navbar ul li{
    justify-content: space-around;
    padding: 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
.navbar ul button a{
    text-decoration: none;
    color: black;
}
.boton{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-color: #7C3AED;
    background-color: #EDE9FE;   
    align-content: flex-end;
    color: #7C3AED;
}
.boton2{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border-color: #7C3AED;
    background-color: transparent;   
    align-content: flex-end;
    color: #7C3AED;
    margin-left: 20px;
    box-shadow: #EDE9FE;
}
/* MAIN */
main{
    grid-area: main;
    display: flex;
    align-items: center;
    background-image: url(/./assets/img/backHeader.png);
    background-size: cover;
    background-repeat: no-repeat;
}
main img{
margin-left: 120px;
}

.titulo{
    font-size: 50px;
    margin-left: 20px;
}

/* ASIDE */
aside{
    grid-area: aside;
    padding: 5px;
    margin: 5px;
    background-image: url(../img/backAside.png);
    background-repeat: no-repeat;
}
aside h2{
    padding-bottom: 30px;
    margin-left: 70px;    
}

.imgTienda h5 {
    margin-left: 10px;
    padding: 10px 10px 10px 10px;
}
.imgTienda{
    border: solid;
    border-radius: 20px;
    border-color:#C0DAE5;
    margin-bottom: 30px;
    width: 400px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
.imgTienda a {
    text-decoration: none;
    width: 10px;
}
.imgTienda a h6{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 5px;
}
.itemsTienda{
    margin-left: 70px;
    display: flex;
    flex-wrap: wrap;
}
.features img{
    width:100% ;
}
/* FOOTER */
footer{
    grid-area: footer;
    width: 100%;
    height: 100px;
    text-align: center;
    border: solid#C0DAE5;
    border-bottom: white;
}
footer h5{
    margin-top: 20px;    
}
footer img{
    padding: 10px;
    margin: 10px;
}
footer ul li a{
    text-decoration: none;
    color: black;
}


/*/*//*/*//*/*//*/*//*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/* TIENDA */

.tienda{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:  "navbar navbar navbar"
                            "header header header "
                            "main  main    main"
                            "aside  aside  aside"
                            "footer footer footer";
    gap: 20px;
}
.tienda main{
    display: flex;
    flex-wrap: wrap;
}
.tienda header h1{
    margin-left: 20px;
}
.imgTiendas img{
    align-content: space-between;
    margin-left: 30px;
    padding: 10px;
    margin-right: 100px;
}
.imgTiendas h5{
    margin-left: 40px;
}
.botonComprar{
    width: 65px;
    height: 27px;
    margin-left: 330px;
    margin-bottom: 20px;
    border: solid #7C3AED;
    border-radius: 7px;
    background-image: linear-gradient(to right,#c9d6ff, #e2e2e2);
    color: black;
}
.asideTienda img{
    width: 100%;
}



/*********************************************************************************************************************************************/
/* servicio */
.servicio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:  "navbar navbar navbar"
                                "header header header "
                                "main  main    main"
                                "aside  aside  aside"
                                "footer footer footer";
        gap: 20px;
}
header h1{
    margin-left: 70px;
}
.mainServicio{
    grid-area: main;
    background-image: url(../img/servicio/backAside.png);
}
aside{
    background-image: none;
    grid-area: aside;
}

.formServicio{
    width: 500px;
    padding: 30px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 4px;
    justify-content: space-around;
}
.control{
    width: 410px;
    height: 50px;
    background-color: #F1E4FF;
    border-radius: 4px;
    border-color: unset;
    margin-bottom: 5px;
    color: #ffffff;
    border-style: none;
}
.area{
    resize: none;
    width: 410px;
    background-color: #F1E4FF;
    border-radius: 4px;
    border-color: unset;
    color: #ffffff;
}
.formServicio h4{
    margin-bottom: 7px;
}
.imgServicio{
    margin-left: 300px;
}
.boton4{
    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    background-color: #F1E4FF;
    border-radius: 4px;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 20px;
}
.boton4Span{
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    background: rgba(38, 184, 221, .2);
    top: -50%;
    left: -100%;
}
.boton4:hover .boton4Span{
    left: -10%;
}

/********    CONTACTO   *********************************************************************************************************************************/

.contacto{
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:  "navbar navbar navbar"
                                "header header header "
                                "main  main    main"
                                "aside  aside  aside"
                                "footer footer footer";
        gap: 20px;
}

.mainContacto{
    margin-bottom: -40px;
}

/*************************************************************************************************************************************ubicacion*/


    .ubicacion{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto auto;
        grid-template-areas:  "navbar navbar navbar"
                                "header header header "
                                "main  main    main"
                                "aside  aside  aside"
                                "footer footer footer";
        gap: 20px;
    }

    .mainUbicacion{
        grid-area: main;
        width: 100%;
        background-image: url(../img/backHeader.png);
        justify-content: space-around;
    }
    .asideUbicacion{
        height: 100px;
        grid-area: aside;
        background-image: none;
    }
    .location{
        margin: 15px;
    }
    @media screen and (max-width: 500px){
        .mainUbicacion{
            display: flex;
            flex-direction: column;
        }
    }
    aside img{
        width: 100%;
    }












/* RESPONSIVE */

